# Binary files
terraform-provider-unifi
bin/

# Terraform files
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars.json
*.tfstate*
*.tfrc

# Go files
vendor/
*.out
*.test

# Python venvs & cache
.venv/
__pycache__/

# OS/IDE files
.DS_Store
.vscode/
.idea/
.env

